# Keep these out of the build
node_modules/
.expo/
dist/
web-build/
/ios
/android

# macOS / Debug junk
.DS_Store
npm-debug.*
yarn-debug.*

# --- CRITICAL FOR YOUR PROJECT ---
# We must ensure these are NOT ignored by EAS, 
# even if they are in your .gitignore
!google-services.json
!laikipia-evote-77092bcd2d37.json